<div class="flex items-center justify-center min-h-screen">
  <div class="px-8 py-6 mx-6 mt-4 text-left bg-white shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3">
    <h3 class="text-2xl font-bold text-center">Join us</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="mt-4">

        <div class="mt-4">
          <%= f.label :email, "Email address", class: "block" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" %>
        </div>
        <div class="mt-4">
          <%= f.label :first_name, "First name", class: "block"%>
          <%= f.text_field :first_name, placeholder: "Irina", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" %>
        </div>
        <div class="mt-4">
          <%= f.label :last_name, "Last name", class: "block"%>
          <%= f.text_field :last_name, placeholder: "Egorova", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" %>
        </div>
        <div class="mt-4">
          <%= f.label :password, class: "block", placeholder: "Password"%>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" %>
        </div>

        <%= f.submit class: "w-full px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900" do %>
          <button> Create Account</button>
        <% end %>


        <div class="mt-6 text-grey-dark">
          Already have an account?
          <a class="text-blue-600 hover:underline" href="#">
            <%= link_to "Log in", new_user_session_path, class: "font-medium text-indigo-600 hover:text-indigo-500"%>
          </a>
        </div>

      </div>
    <% end %>
  </div>
</div>