<div class="antialiased text-gray-900 font-sans p-6">
<div class="container mx-auto">
  <div class="flex flex-wrap -mx-4">
    <% @rooms.each do |room| %>
        <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/2 p-4">
          <a class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
            <%= link_to room_path(room) do %>
              <div class="relative pb-48 overflow-hidden">
                <% if room.images.attached? %>
                  <%= image_tag room.default_image, class: "absolute inset-0 h-full w-full object-cover" %>
                <% end %>
              </div>
              <div class="p-4">
                <h2 class="mt-2 mb-2  font-bold"><%= room.name %></h2>
                <p class="text-sm"><%= room.description %></p>
                <div class="mt-3 flex items-center">
                  <span class="font-bold text-xl"><%=humanized_money_with_symbol(room.price) %> </span>
                </div>
              </div>
            <% end %>
          </a>
        </div>
    <% end %>
  </div>
</div>
</div>