<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Leave a review</h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">We are glad to hear from you</p>
    <% if user_signed_in? %>
      <%= form_with scope: :review, local: true do |f| %>
        <form action="#" class="space-y-8">
          <div>
            <%= f.label :rating, "Rate us from 1 to 5", class:"block my-3 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            <%= f.number_field :rating, class:"shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"%>
          </div>
          <div>
            <%= f.label :title, "Title", class:"block my-3 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            <%= f.text_field :title, class:"shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"%>
          </div>
          <div class="sm:col-span-2">
            <%= f.label :body, "Description", class:"block my-3 text-sm font-medium text-gray-900 dark:text-gray-300" %>
            <%= f.text_area :body, class:"shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"%>
          </div>
          <button type="submit" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Send</button>
        </form>
      <% end %>
    <% else %>
      <p class="font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Log in to leave a review</p>
    <% end %>
  </div>
</section>