<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Leave a review</h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">We are glad to hear from you</p>
    <form action="#" class="space-y-8">
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
        <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@flowbite.com" required>
      </div>
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your name</label>
        <input type="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="John However" required>
      </div>
      <div>
        <label for="rating" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Rate us</label>
        <input type="rating" id="rating" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="5" required>
      </div>
      <div>
        <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Title</label>
        <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Let us know how we can help you" required>
      </div>
      <div class="sm:col-span-2">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Description</label>
        <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..."></textarea>
      </div>
      <button type="submit" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Send</button>
    </form>
  </div>
</section>

<section class="py-10 2xl:py-24 bg-blueGray-100 rounded-t-10xl overflow-hidden">
  <div class="flex justify-center">
    <a class="mb-14 text-3xl font-heading font-medium underline hover:text-darkBlueGray-700" href="#"><%=Review.count%> reviews</a>
  </div>
    <% @reviews.each do |review| %>
    <div class="container px-4 py-2 mx-auto">
    <div class="mb-2 shadow-lg rounded-t-8xl rounded-b-5xl overflow-hidden">
          <div class="pt-3 pb-3 md:pb-1 md:px-16 bg-white bg-opacity-40">
            <div class="flex flex-wrap items-center">
              <h4 class="w-full md:w-auto text-xl font-heading font-medium"><%= review.user.full_name %></h4>
              <div class="w-full md:w-px h-2 md:h-8 mx-8 bg-transparent md:bg-gray-200"></div>
              <span class="text-xl font-heading font-medium"><%= review.rating %></span>
              <div class="w-full md:w-px h-2 md:h-8 mx-8 bg-transparent md:bg-gray-200"></div>
              <h4 class="w-full md:w-auto text-xl font-heading font-medium"><%= review.reviewable.name %></h4>
            </div>
          </div>
          <div class="px-4 overflow-hidden md:px-16 pt-8 pb-12 bg-white">
            <div class="flex flex-wrap">
                <div class="w-full md:w-2/3 mb-6 md:mb-0">
                  <h5 class="font-semibold mb-8 max-w-2xl text-darkBlueGray-400 leading-loose"><%= review.title %></h5>
                  <p class="mb-8 max-w-2xl text-darkBlueGray-400 leading-loose"><%= review.body %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</section>